In [1]:
1+1

2

# Heading

## Subheading

### title

**Bold**

*Italic*

```sql
select * from table_1
```

`select * from table_1`

In [1]:
print(123+1)

124

In [2]:
type(4)

int

In [3]:
type(4.2)

float

In [4]:
type('HelloWorld')

str

In [5]:
type(True)

bool

Kusus string

In [ ]:
print()

`` ini petik

'' ini single quote/kutip

"" ini double quote/kutip

~  ini cacing

In [9]:
print("Hello World")

Hello World

In [10]:
2+3

5

In [11]:
a = 2
b = 3

In [16]:
print(f'Hasil dari penjumlahan 2 + 3 = {a+b}')

Hasil dari penjumlahan 2 + 3 = 5

In [53]:
a = b = c = 300

In [4]:
print(a)

300

In [5]:
b

300

In [6]:
c

300

In [7]:
d = a

In [8]:
d

300

In [2]:
var = 23.5
print(var)

23.5

In [14]:
print(var)

23.5

In [6]:
abc_123 = 123

In [5]:
google_chrome = 123

In [1]:
google_chrome = 123

In [6]:
f = 10

In [41]:
data = [7,11,12,100,1001]

In [17]:
for i in data:
    if i % 2 == 0:
        print(i,'genap')
    elif i % 2 != 0:
        print(i,'ganjil')

7 ganjil
11 ganjil
12 genap
100 genap
1001 ganjil

In [35]:
data_2 = 100

In [44]:
for i in data:
    if i <= 100:
        print(i,': data lebih kecil sama dengan 100')
    if i > 100:
        print(i,'= data lebih besar dari 100')

7 : data lebih kecil sama dengan 100
11 : data lebih kecil sama dengan 100
12 : data lebih kecil sama dengan 100
100 : data lebih kecil sama dengan 100
1001 = data lebih besar dari 100

'Pilpres 2024'

In [48]:
a = 'Yunus'

In [50]:
a.lower()

'yunus'

In [75]:
alfabet = ('a','b','c','d','e','f')

In [76]:
alfabet[1 : 6 : 2] # [start : end : step]

('b', 'd', 'f')

end akan dikurangi 1.. jadi misalnya [0:2] artinya dimulai dari index 0 dan berakhir di index 1

() = tuple (round bracket)

[] = list [square bracket]

{} = dictionary {kurung kurawal}

In [5]:
a = 100
b = 200

if a > b:
    print("a lebih kecil dari b")
if a < b:
    print('a lebih kecil dari b')

a lebih kecil dari b

In [8]:
a = 'januari'
b = 'februari'

if a != b:
    print('bulan bener')
else:
    print("bulan gak bener")

bulan bener

In [14]:
a = 1000
b = 1000.0

if a == b:
    pass #untuk tidak menampilkan apapun
else:
    print('a tidak sama dengan b')

In [12]:
a = [1,3,5,7]
b = [2,4,6,8]

if a != b:
    print('print angka ganjil')

print angka ganjil

In [21]:
nama = 'budi' #valueable
usia = 20 #valueable
gender = True #valuable
alamat = None # unvalueable
motor = 0
rumah = False 

if nama:
    print('ada')
else:
    print('tidak ada')

if usia:
    print('ada')
else:
    print('tidak ada')

if gender:
    print('ada')
else:
    print('tidak ada')

if alamat:
    print('ada')
else:
    print('tidak ada')

if motor:
    print('ada')
else:
    print('tidak ada')

if rumah:
    print('ada')
else:
    print('tidak ada')

ada
ada
ada
tidak ada
tidak ada
tidak ada

In [23]:
pendidikan = 'S1'
daftar_pendidikan = ["s1", "s2", "s2"]

nama = 'Budi'
nama_lengkap = 'Budi Kurniawan'

if pendidikan in daftar_pendidikan:
    print('merupakan bagian') 
else:
    print('bukan merupakan bagian')

if nama in nama_lengkap:
    print('merupakan bagian')
else:
    print('bukan merupakan bagian')

bukan merupakan bagian
merupakan bagian

In [25]:
a = 100
b = 100

if a < b:
    print('a grather than b')
elif a > b:
    print('a grather than b')
else:
    print("a equals to b")

a sama dengan b

In [32]:
money = 3000
if money >= 15000:
    print('buy franchrice')
elif money >= 10000:
    print('buy ketoprak')
elif money >= 5000:
    print('buy a pencil')
else:
    print('buy hong cha')

buy hong cha

# for loop and while loop

### while loop

while <condition>
     <statement>

In [33]:
n = 5
while n > 0:
    n -= 1 # value of n will be subtracted by 1
    print(n)

4
3
2
1
0

### For Loop

syntax:

"for <variable> in <iterable/list>:"
    <statement>

In [65]:
a = 'hello'
# print 5 times

#manual 1
#print('hello')
#print('hello')
#print('hello')
#print('hello')

#manual 2
#using while loop
i = 1 
while i < 6:
    print('hello')
    i+=1

#using for loop
#for i in range(5):
#    print('hello')

hello
hello
hello
hello
hello

In [63]:
#print 0,1,2,3,4,5
#using while loop
#i = 1 #start
#while i < 6:
#    print(i, end=' ')
#    i+=1

#using for loop
#for i in range(6):
#    print(i)

1 2 3 4 5